/****** Footer ***********/
footer {
    width: 100%;
    height: 160px;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 50px;
}

.Footer-section {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.Footer-section h4 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 15px;
}

.Footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}