/****** Header ***********/
header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.Logo {
    height: 100%;
    width: 160px;
}

.Logo a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Logo a img {
    height: 19px;
    width: auto;
}

.Menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.Menu ul {
    list-style: none;
    display: flex;
    padding: 0 50px;
    height: 100%;
    gap: 50px;
}

.Menu-btn {
    height: 35px;
    display: flex;
    align-items: end;
    border: 2px solid transparent;
}

.Menu-btn a {
    text-decoration: none;
    color: var(--text-color);
}

.Menu-btn:hover {
    border-top: 2px solid var(--main-color);
}

.Menu-btn:hover a {
    color: var(--main-color);
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .Logo a {
        justify-content: flex-start;
        padding: 0 30px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    header {
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .Logo {
        width: 120px;
        margin: 30px;
    }

    .Logo a {
        justify-content: center;
        padding: 0;
    }

    .Menu {
        justify-content: center;
        width: 100%;
    }

    .Menu-btn {
        align-items: center;
        justify-content: center;
        width: 50%;
    }

    .Menu-btn:hover {
        border-top: none;
        border-bottom: 2px solid var(--main-color);
    }

    .Menu ul {
        padding: 0;
        justify-content: center;
        width: 100%;
    }
}