/****** Header ***********/
header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.Logo {
    height: 100%;
    width: 160px;
}

.Logo a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Logo a img {
    height: 19px;
    width: auto;
}

.Menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.Menu ul {
    list-style: none;
    display: flex;
    padding: 0 50px;
    height: 100%;
    gap: 50px;
}

.Menu-btn {
    height: 35px;
    display: flex;
    align-items: end;
    border: 2px solid transparent;
}

.Menu-btn a {
    text-decoration: none;
    color: var(--text-color);
}

.Menu-btn:hover {
    border-top: 2px solid var(--main-color);
}

.Menu-btn:hover a {
    color: var(--main-color);
}

/****** section ***********/

.Section {
    width: 100%;
    margin-bottom: 40px;
    padding: 0px 50px;
}

/****** filter ***********/

.Filter {
    display: flex;
    gap: 35px;
    flex-direction: column;
}
/* Filter Title */
.Filter-title {
    height: 53px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.Filter-title h2 {
    font-size: 22px;
    font-weight: 700;
    margin: 0;
    line-height: 26px;
}

.Filter-title p {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    line-height: 19px;
}

/* Filter Searchbar */
.Filter-search{
    height: 50px;
    width: 380px;
    display: flex;
    align-items: center;
    justify-content: stretch;
}

.Filter-search form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#Searchbar-location
{
    height: 100%;
    width: 10%;
    border: none;
    border-radius: 15px 0 0 15px;
    cursor: pointer;
}

#Searchbar-location:hover
{
    background-color: var(--light-bg-color);
}

#Searchbar-location i
{
    color: black;
    height: 18px;
    width: 14px;
}

#Searchbar-textInput
{
    height: 100%;
    width: 55%;
    border: none;
    padding-left: 15px;
    font-size: 16px;
    font-weight: 700;
    color: var(--text-color);
}

#Searchbar-textInput:focus
{
    outline: none;
}


#Searchbar-submit
{
    height: 100%;
    width: 35%;
    border: none;
    background-color: var(--main-color);
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 0 15px 15px 0;
}

/* Filter Filter bar Buttons */
.Filter-filterbar {
    height: 50px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: fit-content;
    align-items: center;
}

.Filter-group {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.Filter-group div {
    display: flex;
    gap: 15px;
    height: 100%;
}

.Filter-filterbar p {
    font-size: 18px;
    font-weight: 700;
}

.Filterbar-btn {
    height: 100%;
    padding: 4px 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-radius: 25px;
    border: 2px solid var(--grey-border-color);
    font-weight: 700;
    font-size: 17px;
    cursor: pointer;
}

.Filterbar-btn:hover {
    background-color: var(--filter-bg-color);
}

/* Filter Info */
.Filter-info {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: 24px;
    align-items: center;
    gap: 10px;
}

.Filter-info i {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 1px solid var(--grey-border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.Filter-info p {
    font-size: 16px;
    font-weight: 400;
}

/****** hebergements ***********/

.hebergements h2 {
    margin-top: 0;
    font-size: 22px;
    font-weight: 700;
}

.hebergements a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    margin: 15px 0;
    cursor: pointer;
}


.hebergements-cards-group {
    display: flex;
    padding: 4px;
    gap: 15px;
    width: 100%;
}

.hebergements-cards {
    height: 200px;
    width: 33%;
    padding: 4px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.hebergements-cards article img {
    width: 100%;
    height: 124px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.hebergements-card-txt {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hebergements-card-title {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}

.hebergements-card-subtitle {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

/****** Activity ***********/
.Activity {
    width: 100%;
    margin: 30px;
    padding: 30px;
}

.Activity-cards-group {
    width: 100%;
    display: flex;
    gap: 15px;
    flex-direction: row;
}

.Activity-cards {
    width: 25%;
    margin: 0 15px;
}

.Activity-cards-content img {
    height: 380px;
    object-fit: cover;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.Activity-cards-content p {
    padding: 20px;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}

/****** Footer ***********/
footer {
    width: 100%;
    height: 160px;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 50px;
}

.Footer-section {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.Footer-section h3 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 15px;
}

.Footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}